/* ================================
   Icon Container (Top Section)
================================= */
.doc-icon {
  flex-grow: 1;
  max-height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.doc-icon i {
  font-size: clamp(1.5rem, 4vw, 3.5rem);
  color: inherit;
}

a.doc-upload {
  background-color: #192e43;
  color: #ece4e6;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
}

a.doc-upload:hover {
  background-color: #2f5984;
}

div[data-testid='stMainBlockContainer'].block-container {
  padding: 2rem !important;
}

.doc-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: #192e43;
  padding: 0.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.doc-name {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  font-weight: bold;
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  width: 100%;
  height: 3em;
  line-height: 1.4em;
  padding-bottom: 0.2em;
}
